{{ define "main" }}

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="site-project-single">
          <h1>
            {{ .Title }}
          </h1>
          <div class="site-project-single-image">
            {{ range .Params.project_images }}
            <img src="{{ . | absURL }}" alt="project image">
            {{ end }}
          </div>
          <a href="{{ .Params.etsy_link }}" class="btn-sm btn-primary btn-md-rounded buy-btn">
            Buy Now
          </a>
          <div class="site-project-single-description">
            {{ .Content }}
          </div>
          <button class="btn-sm btn-primary btn-sm-rounded" onclick="history.back()">Go Back</button>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}