{{ define "main" }}

<section class="site-about-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-about-wrapper">
          <div class="site-about-company">
            <h1>
              {{ .Params.heading }}
            </h1>
          </div>
          <div class="site-about-description">
            <p>
              {{ .Description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-expertise">
  <div class="container">
    <div class="section-title">
      <h2>FAQ</h2>
    </div>
    <div class="col-md-6">
      {{ range .Params.faq }}
      {{ $q_value := (index . "q") }}
      {{ $a_value := (index . "a") }}
        <ul class="site-expertise-list">
          <li>{{ $q_value }}</li>
          <ul>
            <li>{{ $a_value }}</li>
          </ul>
        </ul>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}