{{ with .Site.Params.portfolio }}
  {{ if .enable }}
  <section class="site-project" id="project">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <p>{{ .subtitle }}</p>
          </div>
        </div>
        {{ range (where $.Site.Pages "Type" "category") }}
        <div class="col-md-6">
          <div class="site-project-item" onclick="location.href='{{ .Permalink }}'">
            <div class="site-project-item-thumb">
              <img src="{{ .Params.Image | absURL }}" alt="project-thumb">
            </div>
            <div class="site-project-item-content">
              <h5>{{ .Title }}</h5>
              <a href="{{ .Permalink }}" class="read-more">view</a>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}